.hero{
    min-height: 935px;
    width: 100%;
    position: relative;
    overflow-x: hidden;


}
.hero-container{
    background-color: var(--Dark-Violet);
    height: 600px;
    position: relative;
    align-items: flex-start;


}
.hero-info-container{
    max-width: 1111px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3.1rem;
    margin-top: 10.5rem;


}
.hero-image-container{
    max-width: 540px;
    width: 100%;
}
.hero-intro-img{
    width: 100%;
    height: auto;
}
.top-line,.bottom-line{
    width:150px ;
    height: 1px;
    background-color: var(--Very-Light-Gray);
}
.bottom-line{
    position: absolute;
    bottom: -43.3rem;
    background-color: #B1A4B2;
}
.hero-text-container{
    display: flex;
    flex-direction: column;
    max-width: 540px;
    width: 100%;
    position: relative;
}
.hero-title{
    font-size: 6.94rem;
    line-height: .96;
    margin-top: 6.05rem;
    font-weight: 400;
    letter-spacing: .03rem;

}
.hero-parag{
    line-height: 1.7;
    margin-top: 2.3rem;
    letter-spacing: .007rem;
    color: var(--Very-Light-Gray);

}
.hero-CTA.link{
  margin-top: 2.9rem;
}


.pattern{
    z-index: 3;
    position: absolute;
}
.pattern.top-container{
    right: 0;
    top: -8.1rem;
}
.pattern.bottom-container{
    left: 0;
    bottom: 0;
}

.hero-intro-img:hover{
    transform: scale(0.8) rotate(15deg);
    transition: .3s ease-in-out;
    border-radius: 20%;
    cursor: pointer;
}